
.task-list-item[data-task-priority="highest"]:not([data-task-status-type="DONE"]) input[type=checkbox] { 
    box-shadow: 0px 0px 2px 2px var(--color-purple); 
    border-color: var(--color-purple) !important; 
}

.task-list-item[data-task-priority="highest"] span { 
    color: var(--color-purple);
}

.task-list-item[data-task-priority="high"] input[type=checkbox] {
     box-shadow: 0px 0px 2px 2px var(--color-red);
     border-color: var(--color-red) !important;
}

.task-list-item[data-task-priority="high"]:not([data-task-status-type="DONE"]) span { 
    color: var(--color-red);
}

.task-list-item[data-task-priority="medium"] input[type=checkbox] {
    box-shadow: 0px 0px 2px 2px var(--color-orange);
    border-color: var(--color-orange);
}

.task-list-item[data-task-priority="medium"]:not([data-task-status-type="DONE"]) span { 
    color: var(--color-orange);
}


/* .task-list-item[data-task-priority="normal"] input[type=checkbox] {
    box-shadow: 0px 0px 2px 2px var(--color-blue);
    border-color: var(--color-blue);
} */

.task-list-item[data-task-priority="low"] input[type=checkbox] {
    box-shadow: 0px 0px 2px 2px var(--color-cyan);
    border-color: var(--color-cyan);
}

.task-list-item[data-task-priority="lowest"] input[type=checkbox] {
    box-shadow: 0px 0px 2px 2px var(--color-green);
    border-color: var(--color-green);
}

/* /\* This part removes the regular priority emoticon *\/ */
/* span.task-priority { */
/*     display: none; */
/* } */

/* A special color for the 'due' component if it's for today */
.task-list-item[data-task-status-type="TODO"] .task-due[data-task-due="today"] span,
.task-list-item[data-task-status-type="IN_PROGRESS"] .task-due[data-task-due="today"] span {
    background: var(--color-cyan);
    border-radius: 10px;
    padding: 2px 8px;
}

/* A special color for overdue due dates */
.task-list-item[data-task-status-type="TODO"] .task-due[data-task-due^="past-"] span,
.task-list-item[data-task-status-type="IN_PROGRESS"] .task-due[data-task-due^="past-"] span {
    background: var(--color-pink);
    border-radius: 10px;
    padding: 2px 8px;
}

.task-list-item[data-task-status-type="DONE"] .task-due[data-task-due^="past-"] span
{
    background: none !important;
    border-radius: 10px;
    padding: 2px 8px;
 
}
